/* CSS */
.pendu-panel{
    border: solid 1px black;

    /*  background: url(../img/background.jpg);
     width: 100%;
     height: auto;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover; 
     background-size: 100% 100%;
     background-repeat: no-repeat;
     background-position: cover;  */
     border-radius: 15px;
     width: 70vw;
     height: auto;
     max-height :95vh;
    
}
p{
    font-weight: bolder;
    text-align: end;
}
.scores{
    position : absolute;

    top : 5%;
    right: 36%;
    color: rgb(194, 181, 181);
    /* font-weight: bolder;  */
    font-size: 1.5vw;
    

}

.colorFails{

    color: red;

}
.colorWins{

    color: blue;
}

.row1{

margin: 0 !important;
padding: 0 !important;


}
input{

    background-color: rgba(128, 128, 128, 0.561);
    border : solid 1px white;
    border-radius : 5px;
    /* display: inline; */
    width : 7%;
    position : absolute;
    bottom : 40%;
    left  : 10%;
    font-size: 2em;
    text-align: center;
    
}

button{
    visibility: hidden;
}

#motAffiche{

    position : relative;
    bottom: 15%;
    left: 2%;
    color: white;
    font-weight: bolder; 
    letter-spacing: 1em;
    font-size: 3vw;
    /* border: solid 1px white; */
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgba(116, 108, 108, 0.555);
    /* align-content: center; */
    display: inline;
    
}


#lettresUtilisees{

    position : absolute;
    top : 20%;
    left: 6%;
    color: white;
    font-weight: bolder; 
    font-size: 3vw;
    border :solid 1px transparent;
    background-color: rgba(128, 128, 128, 0.534);
    border-radius: 6px;
    letter-spacing: 0.2em;
    text-align: end;
    padding-left: 7px;
}
#lettres{

    position : absolute;

    top : 10%;
    left: 6%;
    color: rgba(134, 131, 131, 0.582);
    /* font-weight: bolder;  */
    font-size: 2vw;
    
}